:root{
    --col1: radial-gradient(circle, rgba(241,241,241,1) 0%, rgba(238,238,238,1) 100%);
    --col2: radial-gradient(circle, rgba(241,241,241,1) 0%, rgba(247,247,247,1) 60%);
    --col3: radial-gradient(circle, rgba(241,241,241,1) 0%, rgba(255,255,255,1) 100%);
    --col4: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(169,123,232,1) 0%, rgba(145,86,226,1) 100%);
    --col5: #e62f89

}


.buttonsBox{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.button{
    padding: 1em;
    font-size: 1.5em;
    box-shadow: inset 0 0 5px -5px  black;
}

.button:nth-child(4n+1){
    background-image: var(--col1);
}
.button:nth-child(4n+2){
    background-image: var(--col2);
}
.button:nth-child(4n+3){
    background-image: var(--col3);
}
.button:nth-child(4n+4){
    background-image: var(--col4);
}
.button:last-child{
    grid-column: -3 / -1;
    background: var(--col5);
}